[submodule "memes-api"]
    path = external/memes-api
    branch = master
    url = https://github.com/lgc-KoiDev/koishi-plugin-memes-api.git
[submodule "theme-doki"]
    path = external/theme-doki
    branch = master
    url = https://github.com/lgc-KoiDev/koishi-plugin-theme-doki.git
[submodule "dicexp"]
    path = external/dicexp
    branch = master
    url = https://github.com/lgc-KoiDev/koishi-plugin-dicexp.git
[submodule "memebox"]
    path = external/memebox
    branch = master
    url = https://github.com/lgc-KoiDev/koishi-plugin-memebox.git
[submodule "isekai-tensei"]
    path = external/isekai-tensei
    branch = master
    url = https://github.com/lgc-KoiDev/koishi-plugin-isekai-tensei.git
[submodule "external/image-tools"]
	path = external/image-tools
	url = https://github.com/lgc-KoiDev/koishi-plugin-image-tools.git
[submodule "external/sayo-roll"]
	path = external/sayo-roll
	url = https://github.com/lgc-KoiDev/koishi-plugin-sayo-roll
[submodule "others/readme"]
	path = others/readme
	url = https://github.com/lgc-KoiDev/readme
[submodule "others/template"]
	path = others/template
	url = https://github.com/lgc-KoiDev/koishi-plugin-template
