[submodule "memes-api"]
    path = external/memes-api
    branch = master
    url = https://github.com/lgc2333/koishi-plugin-memes-api.git
[submodule "theme-doki"]
    path = external/theme-doki
    branch = master
    url = https://github.com/lgc2333/koishi-plugin-theme-doki.git
[submodule "dicexp"]
    path = external/dicexp
    branch = master
    url = https://github.com/lgc2333/koishi-plugin-dicexp.git
